## pandas calc

### 基础运算

In [10]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['a','b','c'], index=['x','y','z'])
print(df)

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9

In [11]:
df.sum(axis=0) # sum of each column

a    12
b    15
c    18
dtype: int64

In [12]:
df.max(axis=1)

x    3
y    6
z    9
dtype: int64

In [13]:
df.median() # 中位数

a    4.0
b    5.0
c    6.0
dtype: float64

### 二元运算

In [14]:
df = pd.read_csv('./data/train.csv')
df.cov() # 协方差

/var/folders/48/_796mp152vgbt7zqd3f18fx80000gp/T/ipykernel_18516/2166933299.py:2: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov() # 协方差

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,66231.000000,-0.626966,-7.561798,138.696504,-16.325843,-0.342697,161.883369
Survived,-0.626966,0.236772,-0.137703,-0.551296,-0.018954,0.032017,6.221787
Pclass,-7.561798,-0.137703,0.699015,-4.496004,0.076599,0.012429,-22.830196
Age,138.696504,-0.551296,-4.496004,211.019125,-4.163334,-2.344191,73.849030
SibSp,-16.325843,-0.018954,0.076599,-4.163334,1.216043,0.368739,8.748734
Parch,-0.342697,0.032017,0.012429,-2.344191,0.368739,0.649728,8.661052
Fare,161.883369,6.221787,-22.830196,73.849030,8.748734,8.661052,2469.436846

In [15]:
df.corr() # 相关系数

/var/folders/48/_796mp152vgbt7zqd3f18fx80000gp/T/ipykernel_18516/4092379493.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr() # 相关系数

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [16]:
df['Pclass'].value_counts(ascending = True) # 统计每个值出现的次数

2    184
1    216
3    491
Name: Pclass, dtype: int64

In [17]:
df['Age'].value_counts(ascending=True, bins=5) # 按照区间统计

(64.084, 80.0]       11
(48.168, 64.084]     69
(0.339, 16.336]     100
(32.252, 48.168]    188
(16.336, 32.252]    346
Name: Age, dtype: int64

In [18]:
df['Age'].count() # 非空元素计算

714