## pandas curd

### series 增删改查

In [68]:
import pandas as pd

s = pd.Series(data=[1,2,3], index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [69]:
print(s[0:2]) # slice
print(s[[True, False, True]])

a    1
b    2
dtype: int64
a    1
c    3
dtype: int64

In [70]:
s1 = s.copy()
s1['a'] = 3
s1['b'] = 4
s1['c'] = 5
print(s1)
s1.replace(3, 6, inplace=True) # inplace=True means replace the original data
print(s1)
s2 = pd.Series(data=[6,7,8], index=['d','e','f'])
print(s1.append(s2))

a    3
b    4
c    5
dtype: int64
a    6
b    4
c    5
dtype: int64
a    6
b    4
c    5
d    6
e    7
f    8
dtype: int64

/var/folders/48/_796mp152vgbt7zqd3f18fx80000gp/T/ipykernel_51284/4207705013.py:9: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(s1.append(s2))

In [71]:
del s1['a']
print(s1)
s1.drop(['c'], inplace=True)
print(s1)

b    4
c    5
dtype: int64
b    4
dtype: int64

### dataFrame 增删改查

In [72]:
df = pd.DataFrame(data=[[1,2,3],[4,5,6]], index=['a','b'], columns=['A','B','C'])
df

   A  B  C
a  1  2  3
b  4  5  6

In [73]:
print(df['A']) # column
print(df.loc['a']) # row

a    1
b    4
Name: A, dtype: int64
A    1
B    2
C    3
Name: a, dtype: int64

In [74]:
df.loc['c'] = [7,8,9]
print(df)
df['D'] = [0, 0, 0]
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9
   A  B  C  D
a  1  2  3  0
b  4  5  6  0
c  7  8  9  0

In [75]:
df1 = pd.DataFrame(data=[[10,11,12, 0],[13,14,15, 0]], index=['d','e'], columns=['A','B','C', 'D'])
print(df1)
df2 = pd.concat([df, df1])
df2

    A   B   C  D
d  10  11  12  0
e  13  14  15  0

    A   B   C  D
a   1   2   3  0
b   4   5   6  0
c   7   8   9  0
d  10  11  12  0
e  13  14  15  0

In [76]:
df3 = pd.DataFrame(data=[[1, 2],[1, 2], [1, 2]], index=['a','b', 'c'], columns=['E', 'F'])
print(df3)
df4 = pd.concat([df, df3], axis=1)
print(df4)

   E  F
a  1  2
b  1  2
c  1  2
   A  B  C  D  E  F
a  1  2  3  0  1  2
b  4  5  6  0  1  2
c  7  8  9  0  1  2

In [77]:
df4.drop(['a', 'b'], inplace=True)
print(df4)

del df4['F']
print(df4)

   A  B  C  D  E  F
c  7  8  9  0  1  2
   A  B  C  D  E
c  7  8  9  0  1